.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  padding: 160px;
  font-family: var(--font-geist-sans);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table_header {
  display: flex;
  justify-content: space-between;
  align-items: center   ;
  margin : 35px 0px  20px 0px;
  border: 1px solid #66666666;
  border-radius: 10px ;
  padding: 5px 8px;

}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.input {
  background-color: #323232;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 10px;
  margin: 8px 0px;
  width: 446px;
}

.select_input {
  padding: 10px;
  background-color: #15fdeb;
  height: 20px;

}

.search_icon {
  margin-left: -25px;
}

.sort_icon {
  margin-left: -25px;
}

.input_currency {
  width: 67px;
  border: 1px solid #15fdeb;
  border-radius: 6px;
  padding: 10px;
  margin: 8px 8px;
}

.input_sort{
  background-color: transparent;
  min-width: 188px;
  border: 1px solid #15fdeb;
  border-radius: 6px;
  padding: 10px;
  margin: 8px 8px;
}



.hgroup {
  display: flex;
  justify-content: space-between;
  min-width: 554px;
  padding: 10px;
  border: 1px solid #15fdeb;
  border-radius: 8px;
  background-color: transparent;
}

.selectorbtn {
  width: 92px;
  font-weight: 500;
  padding: 6px 10px;
  border: 1px transparent;
  border-radius: 4px;
  background-color: #323232;
  color: white;
  transition: ease-in-out 0.2s;
}

.selectorbtn :first-child {
  background-color: white;
  color: black;
  cursor: pointer;
}

.selectorbtn:hover {
  background-color: #15fdeb;
  color: black;
  cursor: pointer;
}

.selectorbtn:active {
  background-color: #d9f4f3;
  color: black;
  cursor: pointer;
}

.addBtn {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  padding: 9.67px 16.12px;
  background-color: #15fdeb;
  color: #06766f;
  border: 1px solid transparent;
  border-radius: 6.45px;
  cursor: pointer;
}

.addBtn {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  padding: 9.67px 16.12px;
  background-color: #15fdeb;
  color: #06766f;
  border: 1px solid transparent;
  border-radius: 6.45px;
  cursor: pointer;
}

.addCrypto {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  padding: 14.67px 16.12px;
  background-color: #15fdeb;
  color: #06766f;
  border: 1px solid transparent;
  border-radius: 6.45px;
  margin: 10px 0px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #06766f;
  color: black;
}

.form_input {
  border: 1px solid #15fdeb;
  border-radius: 4px;
  padding: 10px;
  margin: 8px 0px;
  width: 100%;
}




.table {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid #66666666;
  margin-top: 20px;
  width: 100%;
}

.table thead tr {
  border-bottom: 1px solid #66666666;
  color: #333;
}

.table th {
  padding: 16px 8px;
  font-weight: 500;
  text-align: left;
}

.table tbody tr {
  border-bottom: 1px solid #66666666;
  color: #BCBCBC;

}

.table td {
  padding: 14px 8px 18px;
}


.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 999; /* Ensure it covers the page content */
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  border: 1px solid #444;
  border-radius: 10px;
  padding: 24px 32px;
  min-width: 623px;
  background-color: #000;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Higher than the overlay to appear on top */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #fff; /* White color for visibility */
  cursor: pointer;
  transition: color 0.3s;
}

.closeButton:hover {
  color: #f00; /* Red color on hover */
}
    
  .modal_title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .select_option {
    background-color: transparent;
  }